---json
{
	"layout": "default",
	"class": "presentation"
}
---

{#-
	Import any macros we want to use in this layout. By using macros, we can
	include reusable code pieces, and pass optional parameters. First, they need
	to be imported, before we can call them later.
-#}
{%- from 'reveal.njk' import reveal with context -%}

<div class="reveal">
	<div class="slides">
		<section>
			<h1 class="presentation-title">{{- title -}}</h1>
			{%- if subtitle -%}
				<p class="presentation-subtitle">{{- subtitle | safe -}}</p>
			{%- endif -%}
			<hr>
			<p class="presentation-presenter">
				<b class="presentation-name">{{- site.name -}}</b>
				{%- if site.url -%}
					<br>
					<a class="presentation-website" href="{{- site.url -}}">{{- site.website -}}</a>
				{%- endif -%}
				{%- if site.email -%}
					<br>
					<a class="presentation-email" href="mailto:{{- site.email -}}">{{- site.email -}}</a>
				{%- endif -%}
			</p>
		</section>

		<section data-markdown>
			<textarea data-template>
				{{- content | safe -}}
			</textarea>
		</section>
	</div>
</div>

{#-
	Call the reveal macro. This will pass through any `slides` data that is
	set in the front matter of each presentation.
-#}
{{- reveal(slides) -}}
